.NewsList {
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 32px;
        
        @include vw-sm-down {
            margin-bottom: 22px;
        }
    }
    &__title {
        margin-right: auto;
        
        @include section-title-mix;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px 16px;
        list-style: none;

        @include vw-md-down {
            grid-template-columns: repeat(2, 1fr);
        }

        @include vw-sm-down {
            @include overflow-slider-mixin;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        border-radius: 20px;
        overflow: hidden;
        
        @include vw-sm-down {
            flex-shrink: 0;
            max-width: 344px;
        }
    }
}

.NewsCard {
    &__image {
        height: 200px;
        object-position: center;
        object-fit: cover;
        margin-bottom: 16px;
    }

    &__date {
        font-family: Montserrat;
        font-size: toRem(14px);
        line-height: 120%;
        margin-bottom: 16px;
    }
    
    &__title {
        font-family: Montserrat;
        font-weight: $font-weight-medium;
        font-size: toRem(20px);
        line-height: 120%;
        margin-bottom: 8px;
    }

    &__text {
        font-family: 'Open Sans', 'sans-serif';
        font-size: toRem(16px);
        line-height: 120%;
        margin-bottom: 20px;
    }
}